Source: grub-theme-blissos
Section: unknown
Priority: optional
Maintainer: Bùi Gia Viện (BlissLabs) <shadichy@blisslabs.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/BlissOS/grub2-themes.git
Vcs-Browser: https://github.com/BlissOS/grub2-themes.git
Vcs-Git: https://github.com/BlissOS/grub2-themes.git

Package: grub-theme-blissos-tela-color-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, color icon pack, 1080p resolution.

Package: grub-theme-blissos-tela-color-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, color icon pack, 2k resolution.

Package: grub-theme-blissos-tela-color-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, color icon pack, 4k resolution.

Package: grub-theme-blissos-tela-color-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, color icon pack, ultrawide resolution.

Package: grub-theme-blissos-tela-color-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, color icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-tela-white-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, white icon pack, 1080p resolution.

Package: grub-theme-blissos-tela-white-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, white icon pack, 2k resolution.

Package: grub-theme-blissos-tela-white-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, white icon pack, 4k resolution.

Package: grub-theme-blissos-tela-white-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, white icon pack, ultrawide resolution.

Package: grub-theme-blissos-tela-white-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, white icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-tela-whitesur-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, whitesur icon pack, 1080p resolution.

Package: grub-theme-blissos-tela-whitesur-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, whitesur icon pack, 2k resolution.

Package: grub-theme-blissos-tela-whitesur-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, whitesur icon pack, 4k resolution.

Package: grub-theme-blissos-tela-whitesur-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, whitesur icon pack, ultrawide resolution.

Package: grub-theme-blissos-tela-whitesur-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, tela variant, whitesur icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-vimix-color-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, color icon pack, 1080p resolution.

Package: grub-theme-blissos-vimix-color-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, color icon pack, 2k resolution.

Package: grub-theme-blissos-vimix-color-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, color icon pack, 4k resolution.

Package: grub-theme-blissos-vimix-color-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, color icon pack, ultrawide resolution.

Package: grub-theme-blissos-vimix-color-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, color icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-vimix-white-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, white icon pack, 1080p resolution.

Package: grub-theme-blissos-vimix-white-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, white icon pack, 2k resolution.

Package: grub-theme-blissos-vimix-white-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, white icon pack, 4k resolution.

Package: grub-theme-blissos-vimix-white-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, white icon pack, ultrawide resolution.

Package: grub-theme-blissos-vimix-white-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, white icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-vimix-whitesur-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, whitesur icon pack, 1080p resolution.

Package: grub-theme-blissos-vimix-whitesur-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, whitesur icon pack, 2k resolution.

Package: grub-theme-blissos-vimix-whitesur-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, whitesur icon pack, 4k resolution.

Package: grub-theme-blissos-vimix-whitesur-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, whitesur icon pack, ultrawide resolution.

Package: grub-theme-blissos-vimix-whitesur-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, vimix variant, whitesur icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-stylish-color-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, color icon pack, 1080p resolution.

Package: grub-theme-blissos-stylish-color-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, color icon pack, 2k resolution.

Package: grub-theme-blissos-stylish-color-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, color icon pack, 4k resolution.

Package: grub-theme-blissos-stylish-color-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, color icon pack, ultrawide resolution.

Package: grub-theme-blissos-stylish-color-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, color icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-stylish-white-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, white icon pack, 1080p resolution.

Package: grub-theme-blissos-stylish-white-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, white icon pack, 2k resolution.

Package: grub-theme-blissos-stylish-white-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, white icon pack, 4k resolution.

Package: grub-theme-blissos-stylish-white-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, white icon pack, ultrawide resolution.

Package: grub-theme-blissos-stylish-white-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, white icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-stylish-whitesur-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, whitesur icon pack, 1080p resolution.

Package: grub-theme-blissos-stylish-whitesur-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, whitesur icon pack, 2k resolution.

Package: grub-theme-blissos-stylish-whitesur-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, whitesur icon pack, 4k resolution.

Package: grub-theme-blissos-stylish-whitesur-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, whitesur icon pack, ultrawide resolution.

Package: grub-theme-blissos-stylish-whitesur-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, stylish variant, whitesur icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-whitesur-color-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, color icon pack, 1080p resolution.

Package: grub-theme-blissos-whitesur-color-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, color icon pack, 2k resolution.

Package: grub-theme-blissos-whitesur-color-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, color icon pack, 4k resolution.

Package: grub-theme-blissos-whitesur-color-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, color icon pack, ultrawide resolution.

Package: grub-theme-blissos-whitesur-color-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, color icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-whitesur-white-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, white icon pack, 1080p resolution.

Package: grub-theme-blissos-whitesur-white-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, white icon pack, 2k resolution.

Package: grub-theme-blissos-whitesur-white-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, white icon pack, 4k resolution.

Package: grub-theme-blissos-whitesur-white-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, white icon pack, ultrawide resolution.

Package: grub-theme-blissos-whitesur-white-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, white icon pack, ultrawide2k resolution.

Package: grub-theme-blissos-whitesur-whitesur-1080p
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, whitesur icon pack, 1080p resolution.

Package: grub-theme-blissos-whitesur-whitesur-2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, whitesur icon pack, 2k resolution.

Package: grub-theme-blissos-whitesur-whitesur-4k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, whitesur icon pack, 4k resolution.

Package: grub-theme-blissos-whitesur-whitesur-ultrawide
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, whitesur icon pack, ultrawide resolution.

Package: grub-theme-blissos-whitesur-whitesur-ultrawide2k
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description:
 GNU GRUB theme for BlissOS, whitesur variant, whitesur icon pack, ultrawide2k resolution.
