#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

THEME_VARIANTS = vimix tela stylish whitesur
ICON_VARIANTS = white color whitesur
SCREEN_VARIANTS = 1080p 2k 4k ultrawide ultrawide2k

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_clean:
	rm -rf grub

override_dh_auto_build:
	for icon in $(ICON_VARIANTS); do \
	  for res in $(SCREEN_VARIANTS); do \
			./install.sh -t $(THEME_VARIANTS) -i $$icon -s $$res -g grub; \
			for theme in $(THEME_VARIANTS); do \
				mv grub/$$theme grub/$$theme-$$icon-$$res; \
			done; \
		done; \
	done;


# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
